
.title {
    font-size: 35px;
}

center {
    margin-left: 800px;
    margin-top: 300px;
}

.box {
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 50px;
    overflow: hidden;
}

input[type="text"], input[type="email"] {
    display: block;
    box-sizing: border-box;
    background: none;
    color: #3498db;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 4px;
    width: 450px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-bottom: 2px solid #3498db;
    border-bottom-right-radius: 20px;
    color: #3498db;
    transition: 0.2 ease;
}